$dark_blue: #05284c;
$blue: #1c5987;
$beige: #fefae0;
$light_green: #89b181;
$dark_green: #4e7246;

// Define gradient (and other Qt-relateed functions, constructions) as a string, because SCSS standard does not support them
$gradient_1: "qlineargradient(spread:pad, x1:0, y1:1, x2:1, y2:0, 
                              stop:0 #{$dark_blue}, 
                              stop:0.25 #{scale-color($dark_blue, $lightness: +20%)},
                              stop:0.5 #{scale-color($dark_blue, $lightness: +40%)},
                              stop:0.75 #{scale-color($dark_blue, $lightness: +60%)},
                              stop:1 #{scale-color($dark_blue, $lightness: +80%)})";

@mixin tabs_pane_config () {
    background-color: #{$gradient_1}; 
    border-color: #{scale-color($light_green, $lightness: +0%)};
}

@mixin tab_config () {
    background-color: #{scale-color($dark_green, $lightness: +15%)};
    border-color: #{scale-color($light_green, $lightness: +0%)};
    color: #{scale-color($beige, $lightness: -15%)};

    &:hover {
        background-color: #{scale-color($dark_green, $lightness: -10%)};
    }
    &:selected {
        background-color: #{scale-color($dark_green, $lightness: 0%)};
    }
}

@mixin window_config () {
    background-color: #{scale-color($dark_green, $lightness: +15%)};
}

@mixin button_1_config () {
    background-color: #{scale-color($dark_green, $lightness: +10%)};
    border-color: #{scale-color($dark_blue, $lightness: +30%)};
    color: #{scale-color($beige, $lightness: -10%)};

    border: 3px solid #{scale-color($light_green, $lightness: +0%)};

    &:hover { 
        background-color: #{scale-color($dark_green, $lightness: -10%)};
    }
    &:pressed {
        background-color: #{scale-color($dark_green, $lightness: -20%)};
    }
}

@mixin button_1_move_on_hover ($move-right-on-hover, $step-dist) {
    @if $move-right-on-hover {
        margin-left: $step_dist;
    }
    @else {
        margin-right: $step_dist;
    }
}

@mixin text_1_config {
    text-align: center;
    font-size: 24px;
    font-family: 'FreeMono', Courier, monospace;
    font-style: italic;
    font-weight: 800;
}

@mixin text_2_config {
    text-align: center;
    font-size: 16px;
    font-family: 'Andale Mono', Courier, monospace;
    font-style: italic;
    font-weight: bold;
}

@mixin interactive_element_text_1_config {
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin label_text_1_config {
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
}

$gradient_2: "qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, 
                              stop:0 #{scale-color($beige, $lightness: -15%)},
                              stop:0.25 #{scale-color($beige, $lightness: -20%)},
                              stop:0.5 #{scale-color($beige, $lightness: -25%)},
                              stop:0.75 #{scale-color($beige, $lightness: -30%)},
                              stop:1 #{scale-color($beige, $lightness: -35%)})";

$gradient_3: "qlineargradient(spread:pad, x1: 0, y1: 0, x2: 0, y2: 1,
                stop: 0 #616161, stop: 0.5 #505050,
                stop: 0.6 #434343, stop:1 #656565)";

@mixin sign_1_config {
    @include text_1_config();
    
    background-color: #{$gradient_2};
    border-color: #{scale-color($dark_green, $lightness: +10%)};
    color: #{scale-color($light_green, $lightness: -10%)};

    border: 2px none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@mixin sign_2_config {
    @include text_2_config();
    color: #{scale-color($beige, $lightness: -30%)};
}

@mixin label_1_config {
    @include label_text_1_config();

    border-color: none;
    color: #{scale-color($beige, $lightness: -20%)};

    border: 2px none;
    border: 2px;
}

@mixin dialog_1_config {
    background-color: #{$gradient_3}; 
    border-color: #{scale-color($light_green, $lightness: +0%)};
}

$gradient_3: "qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, 
                              stop:0 #{$dark_blue}, 
                              stop:0.25 #{scale-color($dark_blue, $lightness: +10%)},
                              stop:0.5 #{scale-color($dark_blue, $lightness: +20%)},
                              stop:0.75 #{scale-color($dark_blue, $lightness: +30%)},
                              stop:1 #{scale-color($dark_blue, $lightness: +40%)})";

QMainWindow {
    @include window_config();
    QTabWidget {
        border-top: 20px;
        &::pane{
            @include tabs_pane_config();
            border: 4px solid $light_green;
            position: absolute;
            top: -0.5em;    
        }

        &::tab-bar{
            alignment: left;  
        }

        QTabBar{
            &::tab {            
                border-bottom: 4px solid #{scale-color($dark_green, $lightness: -15%)};
                min-height: 30px;
                min-width: 120px;
                @include tab_config();
                @include interactive_element_text_1_config();
                
                &:last {
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }

    QDialog {
        @include dialog_1_config();
        QPushButton {
            max-width: 200px;
            max-height: 60px;
            
            border-radius: 8px;
        }

        QLineEdit, QPlainTextEdit {
            background-color: #{scale-color($beige, $lightness: -20%, $saturation: -15%)};
            color: #{scale-color(black, $lightness: +0%)};
            selection-background-color: #{scale-color($dark_blue, $lightness: +30%)};
            
            border-radius: 4px;
            border: 2px solid #{scale-color($dark_green, $lightness: +25%)};

            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            &:hover, &:focus {
                background-color: #{scale-color($beige, $lightness: -8%, $saturation: -15%)};   
            }
        }

        QDateTimeEdit {
            background-color: #{scale-color($beige, $lightness: -20%, $saturation: -15%)};
            color: #{scale-color(black, $lightness: +0%)};
            selection-background-color: #{scale-color($dark_blue, $lightness: +30%)};
            
            border-radius: 4px;
            border: 2px solid #{scale-color($dark_green, $lightness: +25%)};

            font-size: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            &:hover, &:focus {
                background-color: #{scale-color($beige, $lightness: -8%, $saturation: -15%)};   
            }

            &::up-button{
                image: url(:/resources/up_button_1.png);
                &:hover {
                    margin-bottom: 1px;
                }
            }
            &::down-button{
                image: url(:/resources/down_button_1.png);
                &:hover {
                    margin-top: 1px;
                }
            }

            &#creationDateEdit {
                &::down-button{
                    image: none;
                }
                &::up-button{
                    image: none;
                }
                background-color: #{scale-color($dark_green, $lightness: +10%, $saturation: -15%)};
            }
            
        }

        QCheckBox {
            background-color: none;
            border: none;
            color: #{scale-color($beige, $lightness: -10%)};

            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            &::indicator {
                width: 15px;
                height: 15px;
                background-color: #{scale-color($beige, $lightness: -20%, $saturation: -15%)};
                border: 2px solid #{scale-color($dark_green, $lightness: +25%)};
                border-radius: 3px;

                &:hover, &:focus {
                    background-color: #{scale-color($beige, $lightness: -8%, $saturation: -15%)};   
                }
            }

            &::indicator:checked {
                image: url(:/resources/check_icon_2.png);
            }

            &::indicator:unchecked {
                image: url(:/resources/uncheck_icon_1.png);
            }
        }

    }

    QWidget {
        QPushButton {
            @include button_1_config();
            @include interactive_element_text_1_config();
        }

        QLabel {
            &#welcomeSign
            {
                background-color: none;
            }

            @include label_1_config();
        }

        QTableView {
            background-color: #{scale-color($beige, $lightness: -20%, $saturation: -15%)};
            color: #{scale-color(black, $lightness: +0%)};

            gridline-color: #{scale-color($blue, $lightness: +15%, $alpha: -55%)};
           
            border-bottom-right-radius: 70px;

            selection-background-color: #{scale-color($dark_blue, $lightness: +30%, $alpha: -25%)};
            selection-color: #{scale-color($beige, $lightness: +25%)};

            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
            background-attachment: scroll;
        }

        QScrollBar {
            &:vertical {
                background: #{scale-color($light_green, $lightness: +0%)};
                width: 12px;
                margin: 20px 0 20px 0;
            }
            &::handle:vertical {
                background: #{scale-color($dark_green, $lightness: +10%)};
                min-height: 20px;
            }
            &::add-line:vertical {
                background-color: #{scale-color($dark_blue, $lightness: +25%)};
                border: 2px solid #{scale-color($blue, $lightness: +20%)};
                height: 20px;
                subcontrol-position: bottom;
                subcontrol-origin: margin;
            }
            &::sub-line:vertical {
                background: #{scale-color($dark_blue, $lightness: +25%)};
                border: 2px solid #{scale-color($blue, $lightness: +20%)};
                height: 20px;
                subcontrol-position: top;
                subcontrol-origin: margin;
            }
        }

        QHeaderView {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            font-size: 14px;
            font-style: italic;

            &::section {
                background-color: #{scale-color($dark_blue, $lightness: +12%)};
                color: #{scale-color($beige, $lightness: +10%)};
            }
        }

        &#welcomePage{
            QPushButton {
                max-width: 240px;
                max-height: 45px;

                &#createTaskButton {
                    &:hover {
                        @include button_1_move_on_hover(false, 4px);
                    }
                    border-top-right-radius: 20px;
                    
                }
                &#listTasksButton {
                    &:hover {
                        @include button_1_move_on_hover(true, 4px);
                    }
                    border-bottom-left-radius: 20px;
                    
                }
            }

            QLabel {
                &#welcomeSign {
                    @include sign_2_config();
                }

                &#appSign {
                    @include sign_1_config();
                }
            }
        }
        
        &#tasksManagementPage{
            QDialog {
                QPushButton {
                    border-radius: 8px;
                }
            }

            QTableView {
                border-radius: 0px;
            }

            QPushButton {
                max-width: 200px;
                max-height: 60px;
                
                border-radius: 20px;

                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}
